/* 스크롤 배너 */
.banner-chipcard-zone {
    position:relative;overflow:hidden;padding-top:10px;
    img,a {
        user-drag:none;-webkit-user-drag:none;user-select:none;
        -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
        pointer-events:auto;
    }
}
.banner-chipcard-wrap {
    position:relative;margin:0 auto;max-width:1200px;
}
.swiper-container.banner-chipcard-container {
    width:100%;overflow:visible!important;
    .swiper-wrapper {overflow:visible!important;}
    .swiper-slide {display:flex;justify-content:center;align-items:center;}
    .swiper-scrollbar {
        background:#f5f5f5;position:static;margin-top:37px;height:4px;width:100%;
        .swiper-scrollbar-drag {
            background:#4783d4;cursor:pointer;position:relative;
            &:after {display:block;content:'';width:100%;height:20px;position:absolute;top:50%;left:0;transform:translate(0,-50%);}
        }
    }
}
.btn-chipcard-navi {
    background:#fff;box-sizing:border-box;z-index:5;width:40px;height:40px;
    border-radius:100%;border:1px solid #dadada;position:absolute;top:calc(50% - 40px);
    &:after {display:block;content:'';width:10px;height:10px;border-right:1px solid #5f5f5f;border-bottom:1px solid #5f5f5f;position:absolute;top:50%;left:50%;transform:rotate(-225deg);margin:-5px 0 0 -2px;}
}
.btn-chipcard-navi.prev {left:-20px;&:after {}}
.btn-chipcard-navi.next {right:-20px;&:after {transform:rotate(-45deg);margin:-5px 0 0 -9px;}}
.banner-chipcard-item {
    height:360px;width:280px;position:relative;overflow:hidden;border-radius:10px;
    display:block;transition:transform 1s;transform:translateY(0);
    &:hover {transform:translateY(-10px);}
}
.banner-text-group {
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;
    box-sizing:border-box;padding:26px 28px;background:url("../images/dim_thum.png") repeat-x 0 0;
    .banner-text-main,.banner-text-sub {
        color:#fff;line-height:1.3;word-break:break-all;display:-webkit-box;
        -webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;
    }
    .banner-text-main {font-size:18px;}
    .banner-text-sub {margin-top:8px;font-size:20px;font-weight:500;}
}
.banner-img-group {
    position:absolute;top:0;left:0;width:100%;height:100%;
    > img {vertical-align:top;object-fit:cover;object-position:50% 50%;width:100%;height:100%;transition:.4s;transform:scale(1.0);}
    img.pc_thum_img {}
    img.mb_thum_img {display:none;}
}
.banner-chipcard-title-row {
    text-align:center;padding:0 30px 20px;position:relative;margin:0 auto;max-width:1200px;
    .banner-chipcard-title {font-weight:500;color:#333;font-size:28px;letter-spacing:-1px;}
}
@media (max-width:1260px) {
    .banner-chipcard-wrap {margin:0 30px;}
}
@media (max-width:1023px) {
    .banner-chipcard-item {width:calc(100vw - 30px);}
    .banner-text-group {
        .banner-text-sub {font-size:16px;}
        .banner-text-main {font-size:14px;}
    }
    .banner-chipcard-title-row {
        padding:0 20px 10px;
        .banner-chipcard-title {font-size:24px;}
    }
}
@media (max-width:767px) {
    .banner-img-group {
        img.pc_thum_img {display:none;}
        img.mb_thum_img {display:block;}
    }
}


/* customer */
.customer_container{max-width:1200px; margin:0 auto; padding:0 30px;}
.customer_item_list{
    display:flex;
    > li{
        border-right:1px solid #e7e7e7; flex:1; padding:0 20px;  display:flex; flex-direction: column;
        &:first-of-type{padding-left:0;}
        &:last-of-type{border-right:0;padding-right:0;}
    }
}
.customer_item{
   flex:1; display:flex; flex-direction: column; justify-content: space-between;
    .main_row{
        .ico{
            max-width:30px; display:flex; justify-content: center; align-items: center; margin-bottom:8px;
            > img{vertical-align: middle;}
        }
    }
    .sub_row{margin-top:22px;}
    .btn_row{
        display:flex; justify-content:flex-end; margin-top:5px;
        .ico_btn{display:inline-block;width:26px;height:26px;background:url("../images/ico_direct_go_26.png") no-repeat 0 0/100% auto;}
    }
}
.customer_main_text{font-size:20px; font-weight:500; color:#1b1b1b;}
.cusmain_tnode_list{
    display:flex; align-items: center; gap:15px;
    > li{
        position:relative;
        &:after{display:block;content:'';width:1px;height:20px;background:#dadada; position:absolute;top:50%;right:-8px; transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
    .customer_main_text{}
}
.customer_sub_para{font-size:14px; color:#6d6c6c; word-break: keep-all;}
.customer_spec_list{
    display:table;
    > li{
        display:table-row;
    }
}
.cspec_th,
.cspec_td{display:table-cell; vertical-align: top;}
.cspec_th{width:1px;white-space: nowrap;padding-right:5px;}
.cspec_td{}
.cspec_key,
.cspec_value{display:inline-block;font-size:14px;}
.cspec_key{ color:#6d6c6c}
.cspec_value{ color:#333333;
    &.size2{font-size:16px;}
}
@media (max-width:1260px) {

}
@media (max-width:1023px) {
    .customer_container{padding:0 20px;}
    .customer_item_list{
        flex-wrap:wrap; position:relative;
        > li{
            flex:0 0 50%; box-sizing: border-box; padding:20px;
             border-bottom:1px solid #e7e7e7;
             &:first-of-type,
             &:last-of-type{padding:20px;}
             &:nth-of-type(2n){border-right:0;}
        }
        &:after{display:block;content:'';width:100%;height:1px;background:#fff;position:absolute;bottom:0;left:0;}
    }
    .customer_item{
        .sub_row{margin-top:18px;}
    }
    .customer_main_text{font-size:18px;}
    .cusmain_tnode_list{
        > li{
            &:after{height:18px;}
        }
    }
}
@media (max-width:767px) {
    .customer_item_list{
        > li{
            padding:15px;
             &:first-of-type,
             &:last-of-type{padding:15px;}
        }
    }
    .customer_item{}
    .customer_main_text{font-size:16px;}
    /* .customer_item{
         .main_row{
             .ico{max-width:20px;}
         }
    } */
     .cspec_key,
    .cspec_value,
     .customer_sub_para{font-size:12px;}
     .customer_item{
         .sub_row{margin-top:10px;}
     }
}
@media (max-width:374px) {
    .cusmain_tnode_list{display:block;
        > li{
            &:after{display:none;}
        }
    }

    .customer_spec_list{
        display:block;
        > li{
            display:block; margin-bottom:5px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    .cspec_th,
    .cspec_td{display:block;}
    .cspec_th{width:auto;white-space: normal;}
}


/* product template */
.plate_linkage_zone{
    position:relative; max-width:1400px; margin:0 auto;
}
.plate_swiper_wrap{

}
.btn_plate_navi{
    width:40px;height:40px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:-80px;
        &:after{transform: rotate(-135deg);margin-left:-2px;}
    }
    &.next_navi{right:-80px;}
    &:after{
        display:block; content:''; width:12px; height:12px; border-top:1px solid #000; border-right:1px solid #000; position:absolute;top:50%;left:50%; margin:-7px 0 0 -8px; transform: rotate(45deg);
    }
}
.swiper-container{
    &.plate-swiper{
        .swiper-wrapper{
            padding-top:10px;
        }
        .swiper-slide{

        }
    }
}
.plate-chipcard-item {
    height:360px; position:relative;
    display:block;transition:transform 1s;transform:translateY(0);
    &:hover {transform:translateY(-10px);}
}
.plate-text-group {
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;
    box-sizing:border-box;padding:26px 28px;background:url("../images/dim_thum.png") repeat-x 0 0;
    .plate-text-main,.plate-text-sub {
        color:#fff;line-height:1.3;word-break:break-all;display:-webkit-box;
        -webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;
    }
    .plate-text-main {font-size:18px;}
    .plate-text-sub {margin-top:8px;font-size:20px;font-weight:500;}
}
.plate-img-group {
    position:absolute;top:0;left:0;width:100%;height:100%;
    > img {vertical-align:top;object-fit:cover;object-position:50% 50%;width:100%;height:100%;transition:.4s;transform:scale(1.0);}
    img.pc_thum_img {}
    img.mb_thum_img {display:none;}
}
.plate-chipcard-title-row {
    text-align:center;padding:0 30px 15px;position:relative;margin:0 auto;max-width:1200px;
    .plate-chipcard-title {font-weight:700;color:#333;font-size:28px;letter-spacing:-1px;}
}

@media (max-width:1500px){
    .plate_swiper_wrap{
        padding:0 100px;
    }
    .btn_plate_navi{
        &.prev_navi{left:30px;}
        &.next_navi{right:30px;}
    }
}
@media (max-width:1023px) {
    /* .plate-chipcard-item {width:calc(100vw - 20px);} */
    .plate_swiper_wrap{
        padding:0 30px;
    }
    .btn_plate_navi{
        width:30px;height:30px;
        &:after{margin:-6px 0 0 -5px}
        &.prev_navi{left:0;}
        &.next_navi{right:0;
            &:after{margin-left:-9px}
        }
    }
    .plate-text-group {
        .plate-text-sub {font-size:16px;}
        .plate-text-main {font-size:14px;}
    }
    .plate-chipcard-title-row {
        padding:0 20px 20px;
        .plate-chipcard-title {font-size:24px;}
    }
}
@media (max-width:767px) {
    .plate-img-group {
        img.pc_thum_img {display:none;}
        img.mb_thum_img {display:block;}
    }
}


/* tape banner */

.tape_banner_zone{max-width:1200px;margin:0 auto; padding:0 30px;}
.tape_banner_wrap{position:relative;}
.btn_tape_control{
    display:block; width:28px;height:28px; z-index:5; background:#fff; border:1px solid #c6c6c6; border-radius: 100%; position:absolute;top:50%;transform:translateY(-50%);
    &:after{display:block;content:''; margin:-5px 0 0 -3px; width:8px;height:8px;border-left:1px solid #000; border-bottom:1px solid #000; transform: rotate(45deg); position:absolute;top:50%; left:50%;}
    &.prev_navi{left:0;margin-left:-14px;}
    &.next_navi{right:0;margin-right:-14px;
        &:after{transform:rotate(-135deg); margin-left:-6px;}
    }
}
.swiper-container{
    &.tape_swiper{}
    .swiper-wrapper{}
    .swiper-slide{}
}
.tape_swiper_banner{
    display:block;position:relative; height:200px;
    .bg_img_group{position:absolute;top:0;left:0;width:100%; height:100%;}
    .bg_img{
        position:absolute;top:0;left:0;width:100%; height:100%;
        background-repeat: no-repeat; background-size:cover; background-position:100% 100%;
        &.pc{}
        &.mb{display:none;}
    }
}
.tape_copy_wrap{position:absolute;top:0;left:0; width:57.2%; padding:0 0 0 55px; height:100%;box-sizing: border-box; display: flex; align-items: flex-start; flex-direction: column;  justify-content: center;}
.tape_sub_copy{font-size:15px; color:#000000; margin-bottom:10px; @include clamp(1);}
.tape_main_copy{
    font-size:30px; color:#000000; font-weight:500; gap:7px; @include clamp(2);
    .tape_emp{
        font-weight:500; display:inline-block; position:relative; white-space: nowrap;
        .text_node{display:inline-block;position:relative;}
        &:before{display:block;content:''; height:8px;width:100%; background:#fff; opacity:.5; position:absolute;bottom:2px;left:0;}
    }
    .tape_main_else_node{ @include clamp(2);font-weight:500;}
}
.tape_sns_group{margin-top:15px;}
.tape_sns_list{
    display:flex; justify-content: flex-end; align-items: center; gap:10px;
    > li{}
}
.tape_sns_item{
    max-width:32px;display:inline-block;
    img{vertical-align: middle;}
}


@media (max-width:1500px){

}

@media (max-width:1023px) {
    .tape_swiper_banner{
        height:120px;
        .bg_img{
            &.pc{display:none;}
            &.mb{display:block;}
        }
    }

    .tape_sub_copy{font-size:13px; @include clamp(1); margin-bottom:5px;  text-shadow: 2px 2px 2px rgba(255,255,255,0.5);}
    .tape_main_copy{
        font-size:20px; @include clamp(2); text-shadow: 2px 2px 2px rgba(255,255,255,0.5);
        .tape_emp{
            &:before{height:4px;}
            display:block;
        }
    }
    .tape_copy_wrap{width:calc(100% - 30px);padding-left:30px;}
}
@media (max-width:767px) {
}