/* main visual */
.main_visual_zone{
    max-width:1400px; position:relative; margin:0 auto;
    .swiper-pagination{
        margin:0;padding:0; font-size:0; line-height:0;  bottom:20px;
        .swiper-pagination-bullet{
            margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#fff; opacity: 1;
            &.swiper-pagination-bullet-active{background:#000; transform: scale(1);}
        }
    }
    &.full_type{
        max-width:100%;
        .swiper-pagination{

        }
        .mv_field_layer{max-width:1200px; left:50%; transform: translateX(-50%); bottom:-35px; }
        .mv_field_formbox{border:1px solid #727272;background:#fff;}
    }
}
.mv_swiper_wrap{position:relative;}
.btn_mv_control{
    width:50px;height:50px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:0;
        &:after{transform: rotate(-135deg);margin-left:-5px;}
    }
    &.next_navi{right:0;}
    &:after{
        display:block; content:''; width:18px; height:18px; border-top:2px solid #fff; border-right:2px solid #fff; position:absolute;top:50%;left:50%; margin:-11px 0 0 -16px; transform: rotate(45deg);
    }
}
.swiper-container{
    &.mv_swiper{
        .swiper-wrapper{}
        .swiper-slide{}
    }
}
.mv_swiper_item{position:relative; height:400px;}
.mv_bg{
    position:absolute;top:0;left:0;width:100%; height:100%;
    &:after{display:block; content:''; width:100%;height:100%;background:url("../images/mv_dim.png") repeat-x 0 0;position:absolute;top:0;left:0;}
    > img{@include dataImage2;}
}
.mv_copy_group{position:absolute;top:0;left:0;width:100%;text-align: center;height:100%; z-index:3; box-sizing: border-box; padding:85px 70px;}
.mv_main_copy{font-size:40px; color:#fff; @include clamp(1); line-height:1.3;}
.mv_sub_copy{font-size:17px; color:#fff; @include clamp(2); margin-top:5px;}
.mv_field_layer{position:absolute;bottom:60px; left:100px; width:calc(100% - 200px);  z-index:2;}
.mv_field_tab_row{margin:0 44px;display:flex; flex-direction: column; justify-content: flex-end; }
.mv_field_tab_list{
    display:flex; font-size:0; line-height:0;
    > li{

    }
}
.mv_field_tab{
    height:24px; display:inline-block; vertical-align: top; line-height:24px;  padding:0 15px; white-space: nowrap; background:#171717; border-radius: 5px 5px 0 0; font-size:13px; color:#fff;
    &.active{color:#4e4e4e; background:#fff;}
}
.mv_field_form_row{}

.mv_field_formbox{ background-color: rgb(255, 255, 255,0.8); border-radius: 100px; height:70px; display:flex;}
.mv_field_formitem_list{
     flex:1;display:flex;
    > li{flex:1; display:flex; flex-direction: column; border-right:1px solid rgba(0,0,0,.1); padding:0 20px;
        &:first-of-type{padding-left:34px;}
        &:last-of-type{border-right:0;}
    }
}
.mv_field_formitem{flex:1; display:flex; align-items: center; height:100%; gap:10px; cursor: pointer;
    &.result_mode{
         .search_form_text_place{display:none;}
         .search_form_text_result_row{display:block;}
    }
}


.mv_field_ico{
    width:40px; height:40px; flex:0 0 40px; @include bgicon;
    &.shape_where{background-image:url("../images/ico_mv_search_01.png");}
    &.shape_when{background-image:url("../images/ico_mv_search_02.png");}
    &.shape_search{background-image:url("../images/ico_mv_search_03.png");}
    &.shape_product{background-image:url("../images/ico_mv_search_04.png");}
}
.search_form_text_g{flex:1;min-width:0;display:flex;align-items: center;}
.search_form_text_place{font-size:16px; color:#000000;}
.search_form_text_result_row{display:none;min-height:20px;}
.search_form_text_result{font-size:16px;color:#000;line-height:1.3;display:inline;}
.search_form_text_result_wrap{display:flex;align-items: center;}
.btn_search_result_reset{display:inline;width:16px;height:16px;vertical-align: middle;position:relative;top:-2px;margin-left:5px;
    &:before,
    &:after{display:block;content:'';width:1px;height:14px;background:#000;position:absolute;top:50%;left:50%;margin:-7px 0 0 -0.5px;}
    &:before{transform: rotate(45deg);}
    &:after{transform: rotate(-45deg);}
}
/* .btn_search_form{display:flex; min-height:50px; background:#2b8bf2; border-radius:5px; justify-content: center; align-items: center; padding:0 10px 2px; box-sizing: border-box;}
.btn_search_form_text{font-size:16px; color:#fff;} */
.mv_field_btn_cell{
    border-left:1px solid rgba(0,0,0,.1); display:flex; padding:10px;
}
.btn_mv_submit{
    display:flex; align-items: center; background:#176bdd; border-radius: 100px; gap:3px; font-size:0; line-height:0; padding:0 17px;
    .ico{
        @include bgicon; width:24px; height:24px; flex:0 0 24px;
        &.shape_search{background-image:url("../images/ico_mv_search_24.png");}
    }
    .text_node{display:inline-block; color:#fff; font-size:16px; font-weight:500; white-space: nowrap;}
}

@media (max-width:1023px) {
    .main_visual_zone{
        &.full_type{
            .mv_field_layer{max-width:100%; left:0; transform: translateX(0); bottom:-35px; }
        }
    }
    .mv_copy_group{padding:40px 50px;}
    .btn_mv_control{width:30px;height:30px;
        &.prev_navi{
            &:after{margin-left:-3px;}
        }
        &:after{width:10px; height:10px; margin:-6px 0 0 -10px;}
    }
    .mv_main_copy{font-size:24px; @include clamp(2)}
    .mv_sub_copy{font-size:14px;}
    .mv_swiper_item{height:250px;}
    .mv_field_layer{position:static; width:auto; margin:20px;}
    /*
        1px solid #727272
    */
    .mv_field_formbox{
        border-radius: 10px; height:auto; background:#fff; border:1px solid #727272; flex-direction: column;
    }
    .mv_field_tab_row{margin:0 20px;}
    .mv_field_tab{border:1px solid #171717;
        &.active{border-color:rgba(0, 0, 0, 0.1);}
    }
    .mv_field_formitem_list{
        flex-direction: column;
        > li{
            border-right:0;
            border-bottom:1px solid rgba(0, 0, 0, 0.1);
            padding: 10px;
            &:first-of-type{padding:10px;}
        }
    }
    .mv_field_btn_cell{align-items: center; justify-content: center; padding:15px;}
    .mv_field_ico{width:30px;height:30px; flex-basis: 30px;}
    .btn_mv_submit{border-radius: 10px;padding:15px;
        .ico{width:20px; height:20px; flex-basis: 20px;}
        /* .text_node{font-size:14px;} */
    }
}
/* // main visual */

/* 스크롤 배너 */
.banner-chipcard-zone {
    position:relative;overflow:hidden;padding-top:10px;
    img,a {
        user-drag:none;-webkit-user-drag:none;user-select:none;
        -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
        pointer-events:auto;
    }
}
.banner-chipcard-wrap {
    position:relative;margin:0 auto;max-width:1200px;
}
.swiper-container.banner-chipcard-container {
    width:100%;overflow:visible!important;
    .swiper-wrapper {overflow:visible!important;}
    .swiper-slide {display:flex;justify-content:center;align-items:center;}
    .swiper-scrollbar {
        background:#f5f5f5;position:static;margin-top:37px;height:4px;width:100%;
        .swiper-scrollbar-drag {
            background:#4783d4;cursor:pointer;position:relative;
            &:after {display:block;content:'';width:100%;height:20px;position:absolute;top:50%;left:0;transform:translate(0,-50%);}
        }
    }
}
.btn-chipcard-navi {
    background:#fff;box-sizing:border-box;z-index:5;width:40px;height:40px;
    border-radius:100%;border:1px solid #dadada;position:absolute;top:calc(50% - 40px);
    &:after {display:block;content:'';width:10px;height:10px;border-right:1px solid #5f5f5f;border-bottom:1px solid #5f5f5f;position:absolute;top:50%;left:50%;transform:rotate(-225deg);margin:-5px 0 0 -2px;}
}
.btn-chipcard-navi.prev {left:-20px;&:after {}}
.btn-chipcard-navi.next {right:-20px;&:after {transform:rotate(-45deg);margin:-5px 0 0 -9px;}}
.banner-chipcard-item {
    height:360px;width:280px;position:relative;overflow:hidden;border-radius:10px;
    display:block;transition:transform 1s;transform:translateY(0);
    &:hover {transform:translateY(-10px);}
}
.banner-text-group {
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;
    box-sizing:border-box;padding:26px 28px;background:url("../images/dim_thum.png") repeat-x 0 0;
    .banner-text-main,.banner-text-sub {
        color:#fff;line-height:1.3;word-break:break-all;display:-webkit-box;
        -webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;
    }
    .banner-text-main {font-size:18px;}
    .banner-text-sub {margin-top:8px;font-size:20px;font-weight:500;}
}
.banner-img-group {
    position:absolute;top:0;left:0;width:100%;height:100%;
    > img {vertical-align:top;object-fit:cover;object-position:50% 50%;width:100%;height:100%;transition:.4s;transform:scale(1.0);}
    img.pc_thum_img {}
    img.mb_thum_img {display:none;}
}
.banner-chipcard-title-row {
    text-align:center;padding:0 30px 20px;position:relative;margin:0 auto;max-width:1200px;
    .banner-chipcard-title {font-weight:500;color:#333;font-size:28px;letter-spacing:-1px;}
}
@media (max-width:1260px) {
    .banner-chipcard-wrap {margin:0 30px;}
}
@media (max-width:1023px) {
    .banner-chipcard-item {width:calc(100vw - 30px);}
    .banner-text-group {
        .banner-text-sub {font-size:16px;}
        .banner-text-main {font-size:14px;}
    }
    .banner-chipcard-title-row {
        padding:0 20px 10px;
        .banner-chipcard-title {font-size:24px;}
    }
}
@media (max-width:767px) {
    .banner-img-group {
        img.pc_thum_img {display:none;}
        img.mb_thum_img {display:block;}
    }
}


/* customer */
.customer_container{max-width:1200px; margin:0 auto; padding:0 30px;}
.customer_item_list{
    display:flex;
    > li{
        border-right:1px solid #e7e7e7; flex:1; padding:0 20px;  display:flex; flex-direction: column;
        &:first-of-type{padding-left:0;}
        &:last-of-type{border-right:0;padding-right:0;}
    }
}
.customer_item{
   flex:1; display:flex; flex-direction: column; justify-content: space-between;
    .main_row{
        .ico{
            max-width:30px; display:flex; justify-content: center; align-items: center; margin-bottom:8px;
            > img{vertical-align: middle;}
        }
    }
    .sub_row{margin-top:22px;}
    .btn_row{
        display:flex; justify-content:flex-end; margin-top:5px;
        .ico_btn{display:inline-block;width:26px;height:26px;background:url("../images/ico_direct_go_26.png") no-repeat 0 0/100% auto;}
    }
}
.customer_main_text{font-size:20px; font-weight:500; color:#1b1b1b;}
.cusmain_tnode_list{
    display:flex; align-items: center; gap:15px;
    > li{
        position:relative;
        &:after{display:block;content:'';width:1px;height:20px;background:#dadada; position:absolute;top:50%;right:-8px; transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
    .customer_main_text{}
}
.customer_sub_para{font-size:14px; color:#6d6c6c; word-break: keep-all;}
.customer_spec_list{
    display:table;
    > li{
        display:table-row;
    }
}
.cspec_th,
.cspec_td{display:table-cell; vertical-align: top;}
.cspec_th{width:1px;white-space: nowrap;padding-right:5px;}
.cspec_td{}
.cspec_key,
.cspec_value{display:inline-block;font-size:14px;}
.cspec_key{ color:#6d6c6c}
.cspec_value{ color:#333333;
    &.size2{font-size:16px;}
}
@media (max-width:1260px) {

}
@media (max-width:1023px) {
    .customer_container{padding:0 20px;}
    .customer_item_list{
        flex-wrap:wrap; position:relative;
        > li{
            flex:0 0 50%; box-sizing: border-box; padding:20px;
             border-bottom:1px solid #e7e7e7;
             &:first-of-type,
             &:last-of-type{padding:20px;}
             &:nth-of-type(2n){border-right:0;}
        }
        &:after{display:block;content:'';width:100%;height:1px;background:#fff;position:absolute;bottom:0;left:0;}
    }
    .customer_item{
        .sub_row{margin-top:18px;}
    }
    .customer_main_text{font-size:18px;}
    .cusmain_tnode_list{
        > li{
            &:after{height:18px;}
        }
    }
}
@media (max-width:767px) {
    .customer_item_list{
        > li{
            padding:15px;
             &:first-of-type,
             &:last-of-type{padding:15px;}
        }
    }
    .customer_item{}
    .customer_main_text{font-size:16px;}
    /* .customer_item{
         .main_row{
             .ico{max-width:20px;}
         }
    } */
     .cspec_key,
    .cspec_value,
     .customer_sub_para{font-size:12px;}
     .customer_item{
         .sub_row{margin-top:10px;}
     }
}
@media (max-width:374px) {
    .cusmain_tnode_list{display:block;
        > li{
            &:after{display:none;}
        }
    }

    .customer_spec_list{
        display:block;
        > li{
            display:block; margin-bottom:5px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    .cspec_th,
    .cspec_td{display:block;}
    .cspec_th{width:auto;white-space: normal;}
}


/* product template */
.plate_linkage_zone{
    position:relative; max-width:1400px; margin:0 auto;
}
.plate_swiper_wrap{

}
.btn_plate_navi{
    width:40px;height:40px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:-80px;
        &:after{transform: rotate(-135deg);margin-left:-2px;}
    }
    &.next_navi{right:-80px;}
    &:after{
        display:block; content:''; width:12px; height:12px; border-top:1px solid #000; border-right:1px solid #000; position:absolute;top:50%;left:50%; margin:-7px 0 0 -8px; transform: rotate(45deg);
    }
}
.swiper-container{
    &.plate-swiper{
        .swiper-wrapper{
            padding-top:10px;
        }
        .swiper-slide{

        }
    }
}
.plate-chipcard-item {
    height:360px; position:relative;
    display:block;transition:transform 1s;transform:translateY(0);
    &:hover {transform:translateY(-10px);}
}
.plate-text-group {
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;
    box-sizing:border-box;padding:26px 28px;background:url("../images/dim_thum.png") repeat-x 0 0;
    .plate-text-main,.plate-text-sub {
        color:#fff;line-height:1.3;word-break:break-all;display:-webkit-box;
        -webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;
    }
    .plate-text-main {font-size:18px;}
    .plate-text-sub {margin-top:8px;font-size:20px;font-weight:500;}
}
.plate-img-group {
    position:absolute;top:0;left:0;width:100%;height:100%;
    > img {vertical-align:top;object-fit:cover;object-position:50% 50%;width:100%;height:100%;transition:.4s;transform:scale(1.0);}
    img.pc_thum_img {}
    img.mb_thum_img {display:none;}
}
.plate-chipcard-title-row {
    text-align:center;padding:0 30px 15px;position:relative;margin:0 auto;max-width:1200px;
    .plate-chipcard-title {font-weight:700;color:#333;font-size:28px;letter-spacing:-1px;}
}

@media (max-width:1500px){
    .plate_swiper_wrap{
        padding:0 100px;
    }
    .btn_plate_navi{
        &.prev_navi{left:30px;}
        &.next_navi{right:30px;}
    }
}
@media (max-width:1023px) {
    /* .plate-chipcard-item {width:calc(100vw - 20px);} */
    .plate_swiper_wrap{
        padding:0 30px;
    }
    .btn_plate_navi{
        width:30px;height:30px;
        &:after{margin:-6px 0 0 -5px}
        &.prev_navi{left:0;}
        &.next_navi{right:0;
            &:after{margin-left:-9px}
        }
    }
    .plate-text-group {
        .plate-text-sub {font-size:16px;}
        .plate-text-main {font-size:14px;}
    }
    .plate-chipcard-title-row {
        padding:0 20px 20px;
        .plate-chipcard-title {font-size:24px;}
    }
}
@media (max-width:767px) {
    .plate-img-group {
        img.pc_thum_img {display:none;}
        img.mb_thum_img {display:block;}
    }
}


/* tape banner */

.tape_banner_zone{max-width:1200px;margin:0 auto; padding:0 30px;}
.tape_banner_wrap{position:relative;}
.btn_tape_control{
    display:block; width:28px;height:28px; z-index:5; background:#fff; border:1px solid #c6c6c6; border-radius: 100%; position:absolute;top:50%;transform:translateY(-50%);
    &:after{display:block;content:''; margin:-5px 0 0 -3px; width:8px;height:8px;border-left:1px solid #000; border-bottom:1px solid #000; transform: rotate(45deg); position:absolute;top:50%; left:50%;}
    &.prev_navi{left:0;margin-left:-14px;}
    &.next_navi{right:0;margin-right:-14px;
        &:after{transform:rotate(-135deg); margin-left:-6px;}
    }
}
.swiper-container{
    &.tape_swiper{}
    .swiper-wrapper{}
    .swiper-slide{}
}
.tape_swiper_banner{
    display:block;position:relative; height:200px;
    .bg_img_group{position:absolute;top:0;left:0;width:100%; height:100%;}
    .bg_img{
        position:absolute;top:0;left:0;width:100%; height:100%;
        background-repeat: no-repeat; background-size:cover; background-position:100% 100%;
        &.pc{}
        &.mb{display:none;}
    }
}
.tape_copy_wrap{position:absolute;top:0;left:0; width:57.2%; padding:0 0 0 55px; height:100%;box-sizing: border-box; display: flex; align-items: flex-start; flex-direction: column;  justify-content: center;}
.tape_sub_copy{font-size:15px; color:#000000; margin-bottom:10px; @include clamp(1);}
.tape_main_copy{
    font-size:30px; color:#000000; font-weight:500; gap:7px; @include clamp(2);
    .tape_emp{
        font-weight:500; display:inline-block; position:relative; white-space: nowrap;
        .text_node{display:inline-block;position:relative;}
        &:before{display:block;content:''; height:8px;width:100%; background:#fff; opacity:.5; position:absolute;bottom:2px;left:0;}
    }
    .tape_main_else_node{ @include clamp(2);font-weight:500;}
}
.tape_sns_group{margin-top:15px;}
.tape_sns_list{
    display:flex; justify-content: flex-end; align-items: center; gap:10px;
    > li{}
}
.tape_sns_item{
    max-width:32px;display:inline-block;
    img{vertical-align: middle;}
}


@media (max-width:1500px){

}

@media (max-width:1023px) {
    .tape_swiper_banner{
        height:120px;
        .bg_img{
            &.pc{display:none;}
            &.mb{display:block;}
        }
    }

    .tape_sub_copy{font-size:13px; @include clamp(1); margin-bottom:5px;  text-shadow: 2px 2px 2px rgba(255,255,255,0.5);}
    .tape_main_copy{
        font-size:20px; @include clamp(2); text-shadow: 2px 2px 2px rgba(255,255,255,0.5);
        .tape_emp{
            &:before{height:4px;}
            display:block;
        }
    }
    .tape_copy_wrap{width:calc(100% - 30px);padding-left:30px;}
}
@media (max-width:767px) {
}


/* icon banner  */
.btn_icon_control{
    width:30px;height:30px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:-15px;
        &:after{transform: rotate(-135deg);margin-left:-3px;}
    }
    &.next_navi{right:-15px;}
    &:after{
        display:block; content:''; width:12px; height:12px; border-top:1px solid #000; border-right:1px solid #000; position:absolute;top:50%;left:50%; margin:-7px 0 0 -10px; transform: rotate(45deg);
    }
}
.icon_banner_container{max-width:1400px; margin:0 auto; padding:0 30px; position:relative; text-align: center;}
.icon_banner_container.center_type{
    .icon_banner_item{justify-content: center;padding:0;}
}
.btn_icon_control{
    &.prev{}
    &.next{}
}
.swiper-container{
    &.icon_banner_swiper{padding:10px 0;}
    .swiper-wrapper{}
    .swiper-slide{}
}
.icon_banner_item{
    display:flex; min-height:76px; align-items: center; border-radius: 8px; box-sizing: border-box; padding:3px 15px;
    transition:transform 1s;transform:translateY(0);
    &:hover {transform:translateY(-10px);}
    .ico_cell{
        flex:0 0 70px; position:relative; width:70px; height:70px;
        img{
            &.fiqure_img{
                @include dataImage;
            }
        }
    }
    .text_cell{
        .text_node{
            font-size:16px; color:#333333; font-weight:500; @include clamp(2);
        }
    }
    &.bg_theme01{background-color:#f7f2ff;}
    &.bg_theme02{background-color:#fff2f2;}
    &.bg_theme03{background-color:#fff1e7;}
    &.bg_theme04{background-color:#e8f9ee;}
    &.bg_theme05{background-color:#fff6d8;}
    &.bg_theme06{background-color:#fbeefd;}
    &.bg_theme07{background-color:#e4effa;}
}


@media (max-width:1500px){
    .icon_banner_container{padding:0 60px;}
    .btn_icon_control{
        &.prev_navi{left:15px;}
        &.next_navi{right:15px;}
    }
    .icon_banner_item{padding:0;gap:0;}
}

@media (max-width:1023px){
    .icon_banner_container{padding:0 50px;}
    .swiper-container{
        &.icon_banner_swiper{padding:0;}
        .swiper-wrapper{}
        .swiper-slide{}
    }
    .btn_icon_control{
        width:20px;height:20px;
        &.prev_navi{left:15px;
            &:after{margin-left:-2px;}
        }
        &.next_navi{right:15px;}
        &:after{
            width:8px; height:8px;  margin:-4px 0 0 -7px;
        }
    }

    .icon_banner_item{
        min-height:0; align-items: center; border-radius: 0; flex-direction: column; justify-content: flex-start; gap:10px;
        transform:translateY(0) !important;
        .ico_cell{
            flex:0 0 60px; position:relative; width:60px; height:60px; border-radius: 8px;
            img{
                &.fiqure_img{
                    @include dataImage;
                }
            }
        }
        .text_cell{
            .text_node{
                font-size:13px;
            }
        }
        background:none !important;
        &.bg_theme01{
            .ico_cell{
                background-color:#f7f2ff;
            }
        }
        &.bg_theme02{
            .ico_cell{
                background-color:#fff1e7;
            }
        }
        &.bg_theme03{
            .ico_cell{
                background-color:#e8f9ee;
            }
        }
        &.bg_theme04{
            .ico_cell{
                background-color:#fff6d8;
            }
        }
        &.bg_theme05{
            .ico_cell{
                background-color:#fbeefd;
            }
        }
        &.bg_theme06{
            .ico_cell{
                background-color:#fbeefd;
            }
        }
        &.bg_theme07{
            .ico_cell{
                background-color:#e4effa;
            }
        }
    }
}
@media (max-width:374px){
    .icon_banner_item{
        .ico_cell{
            flex:0 0 50px; width:50px; height:50px;
        }
        .text_cell{
            .text_node{
                font-size:12px;
            }
        }
    }
}
@media (max-width:359px){
    .icon_banner_item{
        .ico_cell{
            flex:0 0 40px; width:40px; height:40px;
        }
        .text_cell{
            .text_node{
                font-size:10px;
            }
        }
    }
}

/* // icon banner  */


/* visual banner */
.btn_entry_control{
    width:50px;height:50px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:-50px;
        &:after{transform: rotate(-135deg);margin-left:-5px;}
    }
    &.next_navi{right:-50px;}
    &:after{
        display:block; content:''; width:18px; height:18px; border-top:2px solid #fff; border-right:2px solid #fff; position:absolute;top:50%;left:50%; margin:-11px 0 0 -16px; transform: rotate(45deg);
    }
}
.entry_banner_package{
    padding:95px 0 70px;
    .swiper-pagination{
        position:static;margin:0;padding:0; font-size:0; line-height:0; margin:23px 0 0;
        .swiper-pagination-bullet{
            margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#fff; opacity: 1;
            &.swiper-pagination-bullet-active{background:#000; transform: scale(1);}
        }
    }
}
.entry_banner_container{max-width:1200px;margin:0 auto; position:relative; background:#006de1; border-radius: 18px;}

.entry_box_item{ display:flex; gap:45px; border-radius: 18px; padding:30px; min-height:380px;}
.entry_thum_cols{
    position:relative; flex:0 0 540px;width:540px;  border-radius: 18px; overflow:hidden;
    img{@include dataImage2;}
}
.entry_spec_cols{
    flex:1; display:flex; flex-direction: column; justify-content: center;
}
.entry_spec_item{
    color:#fff; line-height:1.4;
    .main_row{}
    .sub_row{margin-top:25px}
}
.entry_main_sec{font-size:17px; @include clamp(2); margin-bottom:5px; font-weight:300;}
.entry_main_primary{font-size:40px; font-weight:500; @include clamp(2);line-height:1.2;}
.entry_sub_copy{font-size:17px; @include clamp(3); font-weight:300;}
@media (max-width:1300px){
    .entry_banner_package{padding:60px 0 35px;}
    .entry_banner_container{margin: 0 50px;}
    .entry_box_item{gap:30px;}
    .entry_thum_cols{flex-basis: 50%; width:50%}
}
@media (max-width:1023px){
    .entry_thum_cols,
    .entry_banner_container{border-radius: 10px;}
    .entry_main_sec{font-size:14px;}
    .entry_main_primary{font-size:24px; }
    .entry_sub_copy{font-size:14px; }
    .entry_box_item{gap:20px;min-height:200px; padding:20px;}
}
@media (max-width:768px){
    .entry_banner_package{
        padding:40px 0 25px;
         .swiper-pagination{margin-top:15px;}
    }
    .entry_banner_container{margin: 0 20px;}
    .entry_thum_cols{flex-basis: 45%; width:45%}
    .btn_entry_control{
        width:20px;height:20px;
        &.prev_navi{left:-20px;
            &:after{margin-left:-2px;}
        }
        &.next_navi{right:-20px;}
        &:after{
             width:7px; height:7px; margin:-4px 0 0 -6px; border-width:1px;
        }
    }
    .entry_spec_item{
        .sub_row{margin-top:10px}
    }
    .entry_main_sec{font-size:12px;@include clamp(2);}
    .entry_main_primary{font-size:16px; }
    .entry_sub_copy{font-size:12px;  @include clamp(2);}
    .entry_box_item{gap:15px;min-height:120px; padding:15px;}
}
@media (max-width:374px){
}
/* // visual banner */


/* moving banner */
.moving_banner_zone{}
.moving_banner_wrap{max-width:1400px;padding:0 30px; margin:0 auto;}
.moving_banner_list{
    display: flex;min-height:360px;
    > li{flex:0 0 25%;transition:.5s; display:flex; flex-direction: column; position:relative; overflow:hidden;
        &.hover{
            flex-basis: 44.3%;
            .moving_sub_copy{
                display:block;
            }
        }
        &.hover_not{
            flex-basis: 18.6%;
            .moving_sub_copy{
                display:none;
            }
        }
    }
}
.moving_banner_item{
    flex:1; display:block; box-sizing: border-box; position:relative;
    &:before{display:block;content:''; position:absolute;top:0;left:0; z-index:2; width:100%;height:100%;background:url("../images/moving_dim_h360.png") repeat-x 0 0;}
    .bg{position:absolute;top:0;left:0;width:100%;height:100%;background-position: 0 0; background-size:cover;background-repeat: no-repeat;}
}
.moving_copy_group{position:absolute;z-index:2; line-height:1.3; top:0;left:0;font-size:18px;padding:30px 25px;color:#ffffff;}
.moving_main_copy{font-weight:400; }
.moving_eng_para{font-weight:350; margin-bottom:5px; @include clamp(1);}
.moving_kor_para{@include clamp(2);}
.moving_sub_copy{font-size:13px; font-weight:300; margin-top:12px; line-height:1.4; @include clamp(2);}
@media (max-width:768px){
    .moving_banner_list{
        flex-direction: column;
        > li{
            flex:none;
            min-height:160px;
            &.hover{
                min-height:320px;
            }
            &.hover_not{
                min-height:100px;
            }
        }
    }
    .moving_copy_group{position:relative;top:0;left:0;width:auto;height:auto;}
}
/* // moving banner */


/* product template2 */
.filled_container{padding:50px 0;}
.filled_title_row{text-align: center; margin-bottom:20px;}
.filled_title{font-size:28px; font-weight:500; text-align: center;}
.filled_tab_row{margin-bottom:30px;}
.pod_tab_wrap{
    &::-webkit-scrollbar{display:none;}
}
.pod_tab_list{
    display:flex; justify-content: center; gap:5px;
    > li{}
}
.pod_tab{
    display:flex; text-align: center; min-width:127px; border-radius:100px; background:#fff; align-items: center; justify-content: center; box-sizing: border-box; min-height:38px; border:1px solid #2d3545;
    .text_node{font-size:15px; }
    &.active{background:#2d3545;
        .text_node{color:#fff;}
    }
}
.filled_contents_row{}
.btn_band_control{
    display:block; width:28px;height:28px; z-index:5; background:#fff; border:1px solid #c6c6c6; border-radius: 100%; position:absolute;top:50%;transform:translateY(-50%);
    &:after{display:block;content:''; margin:-5px 0 0 -3px; width:8px;height:8px;border-left:1px solid #000; border-bottom:1px solid #000; transform: rotate(45deg); position:absolute;top:50%; left:50%;}
    &.prev_navi{left:0;margin-left:-14px;}
    &.next_navi{right:0;margin-right:-14px;
        &:after{transform:rotate(-135deg); margin-left:-6px;}
    }
}
.band_swiper_zone{
    max-width:1400px; margin:0 auto; position:relative;
    .swiper-pagination{
        margin:0;padding:0; font-size:0; line-height:0; position:static; margin-top:20px;
        .swiper-pagination-bullet{
            margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#ababab; opacity: 1;
            &.swiper-pagination-bullet-active{background:#535353; transform: scale(1); width:30px; border-radius:100px;}
        }
    }
}
.band_swiper_wrap{
}
.swiper-container{
    &.band_swiper{
        .swiper-wrapper{align-items: stretch;}
        .swiper-slide{height: auto; display:flex; flex-direction: column;}
    }
}
.widget_chip_item{flex:1;background:#fff;display:flex;flex-direction: column;}
.widget_thum_row{
    position:relative; flex:0 0 220px; height:220px;
    img{}
}
.widget_spec_row{flex:1;}
.widget_main_name{}
.widget_price_row{}
.widget_price_item{}
.widget_price_number{}
.widget_price_unit{}
.widget_caption_price{}
.widget_sub02_spec{}
.widget_eval_item{
    .ico{}
    .widget_eval_main{}
    .widget_eval_sub{}
}
/* // product template2 */