/* main visual */
@import '_mixin';

.main_visual_zone{
    max-width:1400px; position:relative; margin:0 auto;
    .swiper-container{
        &.mv_swiper{
            .swiper-wrapper{}
            .swiper-slide{}
        }
        .swiper-pagination{
            margin:0;padding:0; font-size:0; line-height:0;  bottom:20px;
            .swiper-pagination-bullet{
                margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#fff; opacity: 1;
                &.swiper-pagination-bullet-active{background:#000; transform: scale(1);}
            }
        }
    }
    &.full_type{
        .swiper-container{
            &.mv_swiper{
            }
            .swiper-pagination{
                bottom:60px;
            }
        }
        max-width:100%;
        .mv_field_layer{max-width:1200px; left:50%; transform: translateX(-50%); bottom:-35px; }
        .mv_field_formbox{border:1px solid #727272;background:#fff;}
    }
}
.mv_swiper_wrap{position:relative;}
.btn_mv_control{
    width:50px;height:50px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:0;
        &:after{transform: rotate(-135deg);margin-left:-5px;}
    }
    &.next_navi{right:0;}
    &:after{
        display:block; content:''; width:18px; height:18px; border-top:2px solid #fff; border-right:2px solid #fff; position:absolute;top:50%;left:50%; margin:-11px 0 0 -16px; transform: rotate(45deg);
    }
}

.mv_swiper_item{position:relative; height:400px;}
.mv_bg{
    position:absolute;top:0;left:0;width:100%; height:100%;
    &:after{display:block; content:''; width:100%;height:100%;background:url("../images/mv_dim.png") repeat-x 0 0;position:absolute;top:0;left:0;}
    > img{@include dataImage2;}
}
.mv_copy_group{position:absolute;top:0;left:0;width:100%;text-align: center;height:100%; z-index:3; box-sizing: border-box; padding:85px 70px;}
.mv_main_copy{font-size:40px; color:#fff; @include clamp(1); line-height:1.3;}
.mv_sub_copy{font-size:17px; color:#fff; @include clamp(2); margin-top:5px;}
.mv_field_layer{position:absolute;bottom:60px; left:100px; width:calc(100% - 200px);  z-index:2;}
.mv_field_tab_row{margin:0 44px;display:flex; flex-direction: column; justify-content: flex-end; }
.mv_field_tab_list{
    display:flex; font-size:0; line-height:0;
    > li{

    }
}
.mv_field_tab{
    height:24px; display:inline-block; vertical-align: top; line-height:24px;  padding:0 15px; white-space: nowrap; background:#171717; border-radius: 5px 5px 0 0; font-size:13px; color:#fff;
    &.active{color:#4e4e4e; background:#fff;}
}
.mv_field_form_row{}

.mv_field_formbox{ background-color: rgb(255, 255, 255,0.8); border-radius: 100px; height:70px; display:flex;}
.mv_field_formitem_list{
     flex:1;display:flex;
    > li{flex:1; display:flex; flex-direction: column; border-right:1px solid rgba(0,0,0,.1); padding:0 20px;
        &:first-of-type{padding-left:34px;}
        &:last-of-type{border-right:0;}
    }
}
.mv_field_formitem{flex:1; display:flex; align-items: center; height:100%; gap:10px; cursor: pointer;
    &.result_mode{
         .search_form_text_place{display:none;}
         .search_form_text_result_row{display:block;}
    }
}


.mv_field_ico{
    width:40px; height:40px; flex:0 0 40px; @include bgicon;
    &.shape_where{background-image:url("../images/ico_mv_search_01.png");}
    &.shape_when{background-image:url("../images/ico_mv_search_02.png");}
    &.shape_search{background-image:url("../images/ico_mv_search_03.png");}
    &.shape_product{background-image:url("../images/ico_mv_search_04.png");}
}
.search_form_text_g{flex:1;min-width:0;display:flex;align-items: center; min-height:100%; display:flex ; flex-direction: column; align-items: baseline; justify-content: center;}
input.mv_input_form{flex:1; outline:0; font-size:16px; color:#000000;box-sizing: border-box; background:transparent; width:100%; border:0;
    &::placeholder{font-size:16px; color:#000000;}
}
.search_form_text_place{font-size:16px; color:#000000;}
.search_form_text_result_row{display:none;min-height:20px;}
.search_form_text_result{font-size:16px;color:#000;line-height:1.3;display:inline;}
.search_form_text_result_wrap{display:flex;align-items: center;}
.btn_search_result_reset{display:inline;width:16px;height:16px;vertical-align: middle;position:relative;top:-2px;margin-left:5px;
    &:before,
    &:after{display:block;content:'';width:1px;height:14px;background:#000;position:absolute;top:50%;left:50%;margin:-7px 0 0 -0.5px;}
    &:before{transform: rotate(45deg);}
    &:after{transform: rotate(-45deg);}
}
/* .btn_search_form{display:flex; min-height:50px; background:#2b8bf2; border-radius:5px; justify-content: center; align-items: center; padding:0 10px 2px; box-sizing: border-box;}
.btn_search_form_text{font-size:16px; color:#fff;} */
.mv_field_btn_cell{
    border-left:1px solid rgba(0,0,0,.1); display:flex; padding:10px;
}
.btn_mv_submit{
    display:flex; align-items: center; background:#176bdd; border-radius: 100px; gap:3px; font-size:0; line-height:0; padding:0 17px;
    .ico{
        @include bgicon; width:24px; height:24px; flex:0 0 24px;
        &.shape_search{background-image:url("../images/ico_mv_search_24.png");}
    }
    .text_node{display:inline-block; color:#fff; font-size:16px; font-weight:500; white-space: nowrap;}
}

@media (max-width:1023px) {
    .main_visual_zone{
        &.full_type{
            .mv_field_layer{max-width:100%; left:0; transform: translateX(0); bottom:-35px; }
        }
        .swiper-container{
            .swiper-pagination{
                bottom:15px;
            }
        }
        &.full_type{
            .swiper-container{
                .swiper-pagination{
                    bottom:15px;
                }
            }
        }
    }

    .mv_copy_group{padding:40px 50px;}
    .btn_mv_control{width:30px;height:30px;
        &.prev_navi{
            &:after{margin-left:-3px;}
        }
        &:after{width:10px; height:10px; margin:-6px 0 0 -10px;}
    }
    .mv_main_copy{font-size:24px; @include clamp(2)}
    .mv_sub_copy{font-size:14px;}
    .mv_swiper_item{height:250px;}
    .mv_field_layer{position:static; width:auto; margin:20px;}
    /*
        1px solid #727272
    */
    .mv_field_formbox{
        border-radius: 10px; height:auto; background:#fff; border:1px solid #727272; flex-direction: column;
    }
    .mv_field_tab_row{margin:0 20px;}
    .mv_field_tab{border:1px solid #171717;
        &.active{border-color:rgba(0, 0, 0, 0.1);}
    }
    .mv_field_formitem_list{
        flex-direction: column;
        > li{
            border-right:0;
            border-bottom:1px solid rgba(0, 0, 0, 0.1);
            padding: 10px;
            &:first-of-type{padding:10px;}
        }
    }
    .mv_field_btn_cell{align-items: center; justify-content: center; padding:15px;}
    .mv_field_ico{width:30px;height:30px; flex-basis: 30px;}
    .btn_mv_submit{border-radius: 10px;padding:15px;
        .ico{width:20px; height:20px; flex-basis: 20px;}
        /* .text_node{font-size:14px;} */
    }
}
/* // main visual */


/* main layer */
@import '_sort_layer';
/* // main layer */