@import '_mixin';
/* moving banner */
.moving-top-title-row {
    text-align:center;padding:0 30px 20px;position:relative;margin:0 auto;max-width:1200px;
    .moving-top-title {font-weight:500;color:#333;font-size:28px;letter-spacing:-1px;}
}
.moving_banner_zone{}
.moving_banner_wrap{max-width:1400px;padding:0 30px; margin:0 auto;}
.moving_banner_list{
    display: flex;min-height:360px;
    > li{flex:0 0 25%;transition:.5s; display:flex; flex-direction: column; position:relative; overflow:hidden;
        &.hover{
            flex-basis: 44.3%;
            .moving_sub_copy{
                display:block;
            }
        }
        &.hover_not{
            flex-basis: 18.6%;
            .moving_sub_copy{
                display:none;
            }
        }
    }
}
.moving_banner_item{
    flex:1; display:block; box-sizing: border-box; position:relative;
    &:before{display:block;content:''; position:absolute;top:0;left:0; z-index:2; width:100%;height:100%;background:url("../images/moving_dim_h360.png") repeat-x 0 0;}
    .bg{position:absolute;top:0;left:0;width:100%;height:100%;background-position: 0 0; background-size:cover;background-repeat: no-repeat;}
}
.moving_copy_group{position:absolute;z-index:2; line-height:1.3; top:0;left:0;font-size:18px;padding:30px 25px;color:#ffffff;}
.moving_main_copy{font-weight:400; }
.moving_eng_para{font-weight:350; margin-bottom:5px; @include clamp(1);}
.moving_kor_para{@include clamp(2);}
.moving_sub_copy{font-size:13px; font-weight:300; margin-top:12px; line-height:1.4; @include clamp(2);}
@media (max-width:768px){
    .moving-top-title-row {
        padding:0 20px 10px;
        .moving-top-title {font-size:24px;}
    }
    .moving_banner_list{
        flex-direction: column;
        > li{
            flex:none;
            min-height:160px;
            &.hover{
                min-height:320px;
            }
            &.hover_not{
                min-height:100px;
            }
        }
    }
    .moving_copy_group{position:relative;top:0;left:0;width:auto;height:auto;}
}
/* // moving banner */