
/* product template3 */
@import '_mixin';

.filled_container{padding:50px 0;}
.filled_title_row{text-align: center; margin-bottom:20px;}
.filled_title{font-size:28px; font-weight:500; text-align: center;}
.filled_tab_row{margin-bottom:30px;}

.cap_tab_wrap{
    &::-webkit-scrollbar{display:none;}
}
.cap_tab_list{
    display:flex; justify-content: center; gap:5px; padding:0 20px;
    > li{}
}
.cap_tab{
    display:flex; text-align: center; min-width:127px; border-radius:100px; background:#fff; align-items: center; justify-content: center; box-sizing: border-box; min-height:38px; border:1px solid #2d3545; white-space: nowrap; padding:0 20px;
    .text_node{font-size:15px; }
    &.active{background:#2d3545;
        .text_node{color:#fff;}
    }
}

.filled_contents_row{}
.btn_band_control{
    display:block; width:28px;height:28px; z-index:5; background:#fff; border:1px solid #c6c6c6; border-radius: 100%; position:absolute;top:50%;transform:translateY(-50%);
    &:after{display:block;content:''; margin:-5px 0 0 -3px; width:8px;height:8px;border-left:1px solid #000; border-bottom:1px solid #000; transform: rotate(45deg); position:absolute;top:50%; left:50%;}
    &.prev_navi{left:0;margin-left:-14px;}
    &.next_navi{right:0;margin-right:-14px;
        &:after{transform:rotate(-135deg); margin-left:-6px;}
    }
}
.band_swiper_zone{
    max-width:1400px; margin:0 auto; position:relative;
}
.swiper-pagination.band_pagingation{
    margin:0;padding:0; font-size:0; line-height:0; position:static; margin-top:20px;
    .swiper-pagination-bullet{
        margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#ababab; opacity: 1;
        &.swiper-pagination-bullet-active{background:#535353; transform: scale(1); width:30px; border-radius:100px;}
    }
}
.band_swiper_wrap{
}
.swiper-container{
    &.band_swiper{
        .swiper-wrapper{align-items: stretch;}
        .swiper-slide{height: auto; display:flex; flex-direction: column;}
    }
}

@media (max-width:1460px){
    .band_swiper_zone{
        padding:0 30px;
    }
    .btn_band_control{
        &.prev_navi{margin-left:0;left:14px;}
        &.next_navi{margin-right:0;right:14px;}
    }

}
@media (max-width:1023px){
    .filled_title{font-size:24px;}

    .btn_band_control{width:20px;height:20px;
        &:after{width:6px;height:6px; margin:-4px 0 0 -2px;}
        &.prev_navi{
            margin-left:0; left:7px;
        }
        &.next_navi{
            margin-right:0; right:7px;
            &:after{margin-left:-5px;}
        }
    }

    .band_swiper_zone{
        padding:0 20px;
        .widget_thum_row{
            flex-basis:120px; height:120px;
        }
    }


    .cap_tab{
         min-width:100px;
        .text_node{font-size:14px; }
    }

    .band_swiper_zone{

    }
}
/* // product template3 */
