/* product template2 */
@import '_mixin';
.dptop_title_row{text-align: center; margin-bottom:20px;}
.dptop_title{font-size:28px; font-weight:500; text-align: center;}
.dptop_tab_row{margin-bottom:30px;}
.pod_tab_wrap{
    &::-webkit-scrollbar{display:none;}
}
.pod_tab_list{
    display:flex; justify-content: center; gap:5px; padding:0 20px;
    > li{}
}
.pod_tab{
    display:flex; text-align: center; min-width:127px; border-radius:100px; background:#fff; align-items: center; justify-content: center; box-sizing: border-box; min-height:38px; border:1px solid #2d3545; white-space: nowrap; padding:0 20px;
    .text_node{font-size:15px; }
    &.active{background:#2d3545;
        .text_node{color:#fff;}
    }
}
.dpitem_horizon{
    margin:0 auto 63px; display:flex; gap:20px; max-width:1400px;
    &:last-of-type{margin-bottom:0;}
    .widget_spec_row{border:1px solid #dadada; border-top:0;}
}
.dpfront_cols{
    flex:0 0 264px; width:264px;
    &.empty_case{min-height:415px;}
}
.dpfront_box{
    min-height:100%; padding:20px; box-sizing: border-box; display:flex; flex-direction: column; justify-content: space-between; gap:20px;
}
.dpfront_copy{
    font-size:15px; color:#fff; font-weight:500;
}
.btn_dfp_ico{display:inline-block; width:30px; height:30px; background:url("../images/ico_direct_go_30_w.png") no-repeat 0 0/100% auto;}
.dpscroll_cols{
    flex:1; min-width:0;
}
.dphor_swiper_zone{
    position:relative;
    .swiper-scrollbar {
        background:#f5f5f5;height:6px;width:100%; position:absolute;bottom:-25px;
        .swiper-scrollbar-drag {
            background:#b4b4b4;cursor:pointer;position:relative;
            &:after {display:block;content:'';width:100%;height:20px;position:absolute;top:50%;left:0;transform:translate(0,-50%);}
        }
    }
}
.swiper-container{
    &.dp_swipe{
        .swiper-wrapper{
            align-items: stretch;
            .swiper-slide{
                box-sizing: border-box;
                .widget_chip_item{min-height:100%;}
            }
        }

    }
}

@media (max-width:1460px){
    .dpitem_horizon{
        padding:0 30px;
        .btn_dphor_control{
            &.prev_navi{}
            &.next_navi{}
        }
    }
    .dpfront_cols{flex-basis: 220px; width:220px;}
}
@media (max-width:1023px){
    .widget_thum_row{flex-basis: 120px; height:120px;}
    .dphor_swiper_zone{
        .widget_thum_row{flex-basis: 220px; height:220px;}
    }
    .dpfront_cols{flex-basis: 200px; width:200px;}
    .dpfront_copy{
        line-height:1.5;
        br{display:none}
    }
    .dpfront_box{flex-direction: row; font-size:0;line-height:0; align-items: center;}
    .pod_tab{
         min-width:100px;
        .text_node{font-size:14px; }
    }
}
@media (max-width:767px){
    .dpitem_horizon{flex-direction: column;}
    .dpfront_cols{flex-basis: auto; width:auto;}
    .dphor_swiper_zone .widget_thum_row{flex-basis: 120px; height:120px;}
}