@import '_mixin';

/* sns */
.sns_frame{flex:1;height:100%; overflow:hidden; display:flex; min-height:0;}
.sns_key_cols{flex:0 0 370px;display:flex; flex-direction: column; justify-content: center;}
.sns_contents_cols{flex:1; min-width:0; overflow:hidden; position:relative;  min-height:0;}
.sns_key_title_group{}
.sns_key_title{display:inline-block; font-size:25px; font-weight:500; color:#1b1b1b;padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid rgba(0,0,0,.1)}
.sns_key_sub{font-size:14px; color:#6d6c6c; word-break: keep-all;}
.sns_ico_btn_wrap{
    display:flex; justify-content: flex-start; margin-top:20px;
}
.sns_chip_list{
    display:flex; gap:10px;
    > li{

    }
}
.sns_chip_item{
    width:32px; height:32px; display:inline-block;
    img{vertical-align: middle; max-width:100%;

    }
}
.sns_px_layout{
    display:flex; width:1400px; margin:0 auto; gap:100px;
}
.brick_photo_layout{display:flex; gap:15px;  transform: translateY(-50px);
    &.anigo{
        animation: scrollUpGrid 25s linear infinite;
    }
}
.brick_column{
    flex:1; display:flex; flex-direction: column; gap:10px;padding-top:50px;
    &.column_1{}
    &.column_2{transform: translateY(-50px);}
    &.column_3{}
    .brick_item{
        img{vertical-align: top;
            &.pc{display:block;}
            &.mb{display:none;}
        }
    }
}
@keyframes scrollUpGrid {
    0% {
        transform: translateY(-50px)
    }

    100% {
        transform: translateY(-50%)
    }
}
@media (max-width:1460px){
    .sns_px_layout{
        width:auto;  gap:50px; padding:0 30px;
    }
    .sns_key_cols{flex-basis: 280px;}
}
@media (max-width:1023px){
    .sns_px_layout{flex-direction: column;gap:0; padding:0 10px;}
    .sns_key_cols{flex-basis: 0; padding:20px 0;}
    .brick_photo_layout{gap:10px;}

    .sns_key_title{font-size:20px; padding-bottom:10px; margin-bottom:10px;}

    .dpfront_cols{
        &.empty_case{min-height:0;}
    }
    .brick_column{
        .brick_item{
            img{
                &.pc{display:none;}
                &.mb{display:block;}
            }
        }
    }
}
@media (max-width:768px){
    .brick_column,
    .brick_photo_layout{gap:5px;}
}
/* // sns */