/* visual banner */
@import '_mixin';
.btn_entry_control{
    width:50px;height:50px;  position:absolute; top:50%; z-index:5; transform: translateY(-50%);
    &.prev_navi{left:-50px;
        &:after{transform: rotate(-135deg);margin-left:-5px;}
    }
    &.next_navi{right:-50px;}
    &:after{
        display:block; content:''; width:18px; height:18px; border-top:2px solid #fff; border-right:2px solid #fff; position:absolute;top:50%;left:50%; margin:-11px 0 0 -16px; transform: rotate(45deg);
    }
}
.entry_banner_package{
    padding:95px 0 70px;background-repeat:no-repeat; background-size:cover; background-position:50% 50%;
    .swiper-pagination{
        position:static;margin:0;padding:0; font-size:0; line-height:0; margin:23px 0 0;
        .swiper-pagination-bullet{
            margin:0 3px; width:10px; height:10px; border-radius: 100%; background:#fff; opacity: 1;
            &.swiper-pagination-bullet-active{background:#000; transform: scale(1);}
        }
    }
}
.entry_banner_container{max-width:1200px;margin:0 auto; position:relative; background:#006de1; border-radius: 18px; overflow:hidden;}

.entry_box_item{ display:flex; gap:45px; border-radius: 18px; padding:30px; min-height:380px;}
.entry_thum_cols{
    position:relative; flex:0 0 540px;width:540px;  border-radius: 18px; overflow:hidden;
    img{@include dataImage2;}
}
.entry_spec_cols{
    flex:1; display:flex; flex-direction: column; justify-content: center;
}
.entry_spec_item{
    color:#fff; line-height:1.4;
    .main_row{}
    .sub_row{margin-top:25px}
}
.entry_main_sec{font-size:17px; @include clamp(2); margin-bottom:5px; font-weight:300;}
.entry_main_primary{font-size:40px; font-weight:500; @include clamp(2);line-height:1.2;}
.entry_sub_copy{font-size:17px; @include clamp(3); font-weight:300;}
@media (max-width:1300px){
    .entry_banner_package{padding:60px 0 35px;}
    .entry_banner_container{margin: 0 50px;}
    .entry_box_item{gap:30px;}
    .entry_thum_cols{flex-basis: 50%; width:50%}
}
@media (max-width:1023px){
    .entry_thum_cols,
    .entry_banner_container{border-radius: 10px;}
    .entry_main_sec{font-size:14px;}
    .entry_main_primary{font-size:24px; }
    .entry_sub_copy{font-size:14px; }
    .entry_box_item{ flex-direction: column;gap:15px;padding:0;}
    .entry_banner_package{
        padding:40px 0 25px;
         .swiper-pagination{margin-top:15px;}
    }
    .entry_banner_container{margin: 0 20px;}
    .entry_thum_cols{/* flex-basis: 45%; width:45% */ padding-bottom:100%;height:0;flex:0;width:100%;border-radius: 0;}
    .btn_entry_control{
        width:20px;height:20px;
        &.prev_navi{left:-20px;
            &:after{margin-left:-2px;}
        }
        &.next_navi{right:-20px;}
        &:after{
             width:7px; height:7px; margin:-4px 0 0 -6px; border-width:1px;
        }
    }
    .entry_spec_item{
        .sub_row{margin-top:10px}
    }
    .entry_main_sec{font-size:12px;@include clamp(1);}
    .entry_main_primary{font-size:16px; }
    .entry_sub_copy{font-size:12px;  @include clamp(2);}
    .entry_spec_cols{padding: 0 15px 15px;}
}
/* // visual banner */